* {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  min-height: 200px;
  background-color: #f7f7f7;
  margin: 7px 0;;
}
.btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.btn {
  float: left;
  width: 50%;
}
.title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #ccc;
  font-size: 16px;
  color: #999;
  text-align: center;
}
.ajax div {
  position: relative;
  width: 50%;
  padding-top: 50%;
}
.ajax img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes ks-fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
@keyframes ks-fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
.lazyload {
  -webkit-animation: ks-fadeIn 350ms linear 0ms 1 normal both;
  animation: ks-fadeIn 350ms linear 0ms 1 normal both;
  opacity: 1
}
.lazyload-beforeload{
  opacity: 0
}
