* {
  padding: 0;
  margin: 0;
}
body {
  padding-bottom: 40px;
}
img {
  vertical-align: middle;
}
.text {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
.btn {
  float: left;
  width: 50%;
}
.title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #ccc;
  font-size: 16px;
  color: #999;
  text-align: center;
}
.ajax div {
  position: relative;
  width: 50%;
  padding-top: 50%;
}
.ajax img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes ks-fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
@keyframes ks-fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
.lazyload {
  -webkit-animation: ks-fadeIn 350ms linear 0ms 1 normal both;
  animation: ks-fadeIn 350ms linear 0ms 1 normal both;
  opacity: 1
}
.lazyload-beforeload{
  opacity: 0
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list:nth-of-type(1) {
  margin-left: 16px;
  margin-right: 8px;
}
.list:nth-of-type(2) {
  margin-left: 8px;
  margin-right: 16px;
}
.list .item {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-top: 16px;
  background-color: #eee;
}
.list img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 0;
}
